version: "3.8"
services:
  landingpage:
    build:
      context: .
      dockerfile: Dockerfile
    image: omv-landingpage-with-docker
    #container_name: omv-landingpage
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    environment:
      PROC_ROOT: /host/proc
      SYS_ROOT: /host/sys
    working_dir: /app
    command: ["node", "server.js"]
    ports:
      - "8069:3000"
    restart: unless-stopped
