name: Build and publish Docker image

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Verify and extract version
        id: version
        run: |
          TAG_VERSION="${GITHUB_REF_NAME#v}"
          PKG_VERSION=$(node -p "require('./app/package.json').version")

          if [ "$TAG_VERSION" != "$PKG_VERSION" ]; then
            echo "❌ Version mismatch"
            echo "Tag:          $TAG_VERSION"
            echo "package.json: $PKG_VERSION"
            exit 1
          fi

          echo "version=$PKG_VERSION" >> $GITHUB_OUTPUT

          if [[ "$PKG_VERSION" == *-* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

          echo "✅ Version OK: $PKG_VERSION"

      - name: Prepare image name
        id: image
        run: |
          IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY,,}"
          echo "name=$IMAGE_NAME" >> $GITHUB_OUTPUT

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

#      - name: Build and push Docker image
#        uses: docker/build-push-action@v5
#        with:
#          context: .
#          push: true
#          tags: |
#            ghcr.io/${{ lower( github.repository ) }}:${{ steps.version.outputs.version }}
#            ${{ steps.version.outputs.is_prerelease == 'false' && format('ghcr.io/{0}:latest', lower( github.repository )) || '' }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.image.outputs.name }}:${{ steps.version.outputs.version }}
            ${{ steps.version.outputs.is_prerelease == 'false' && format('{0}:latest', steps.image.outputs.name) || '' }}
