name: PR checks

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build (PR)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -t pr-check .
